body{
    padding: 60px;
    background-color: #edf6f9;
}
h1{
    font-size: 50px;
    padding-top: 60px;

}
h2{
    font-size: 30px;
}
h4{
    text-align: center;
}
.heads{
    color: #333447;
    font-size: 35px;
    text-align: center;
}


.intro{
    display:flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 80px;
}
.city{
    display: flex;
    margin-top: 80px;
    margin-bottom: 80px;
    justify-content: space-around;
}
.city p{
    /* margin-top: 65px; */
    word-wrap: break-word;
    width: 700px;
    font-size:20px;
    /* text-align: center; */
    padding-left: 10px

}
p{
    font-size: 18;
}
/* #par{
    width: 300px;
} */
table{
    margin-top: 50px;
    margin-left: 7em;
    margin-bottom: 40px;
    width: 80%;
    border: 1px solid #0e0d0d;
    border-collapse: collapse;

}

th,td{
    height: 40px;
    border: 1px solid #585656;
    padding: 5px;
    font-size: large;
}
.history{
    display: flex;
    justify-content: space-around;

}
.history p{
    word-wrap: break-word;
    width: 120px;
    margin: 0px 10px;
    font-size: 20px;
}
img{
    border-radius: 1em;
}
.one{display: flex;}
.unique{display: flex;}
.all img{width: 120px;}

@media  screen and (max-width : 600px) {
    body{padding: 0px;
    margin-left: 20px;}
    h1{
        width: 100%;
        text-align: center;
        font-size: 47px;
        margin-top: 0px;
        padding-top: 0px;
    }
  
    .city p{
          /* margin-top: 65px; */
    word-wrap: break-word;
    width: 290px;
    font-size:17px;
    text-align: center;
    padding-left: 30px

    }
    .intro{
        flex-direction: column;
    }
    .intro img{
        width: 350px;
    }
    #par{
        width: 350px;
        height: 247px;
        flex-direction: column;
    }
    table{
        margin-left: 2em;
    }
    
    .city{
        display: block;
    }
    .history{
        flex-direction: column;
    }
    .one img{
        float:right;
        width: 130px;
    }
    .all p{
        word-wrap: break-word;
        width: 170px;
        font-size: 21px;
        padding: 0px 20px;
    }
    .one{
        display: flex;
    }
    .all{
        margin-top: 10px;
    }
   .all .unique{
    display: flex;
    flex-direction: row-reverse;
   }
   /* .all img{
    width: 100px;
    
   } */
}